<div style="margin: 50px 100px;">

    <div style="display: flex;align-items: center;box-sizing: border-box;">
        <div>
            <img src="assets/images/logo.png" width="39" height="60" alt="logo">
        </div>
        <div style="height: 50px;background-color: #8793A1;min-width: 2px;"></div>
        <div
            style="font-family: 'Open Sans';font-weight: 700;color: #C1272D;font-size: 18px;padding-top: 12px;padding-left: 5px;">
            Career<br>Hub</div>
    </div>
</div>
<h2 style="margin-left: 20px;">{{eventName}}</h2>
<div class="layout-container">

    <mat-tab-group class="tab-group">
        <mat-tab label="Event">
            <ng-template mat-tab-label>
                <div class="tab-label">
                    <span class="kk">Pending</span>
                </div>
            </ng-template>
            <div class="tab-content">
                <div class="table-header">
                    <!-- <button style="background-color: #2773FF; color: #F7F9FB;" mat-button
                        (click)="openModal('event')">Add
                        Event</button> -->
                </div>
                <table mat-table [dataSource]="companyPendingData" matSort class="w-100">
                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()">
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                            </mat-checkbox>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="track">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Track </th>
                        <td mat-cell *matCellDef="let row"> {{row.departmentName }} </td>
                    </ng-container>

                    <ng-container matColumnDef="interviewType">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Interview Type </th>
                        <td mat-cell *matCellDef="let row"> {{row.interviewType }} </td>
                    </ng-container>


                    <ng-container matColumnDef="interviewers">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Interviewers </th>
                        <td mat-cell *matCellDef="let row">{{ row.interviewers }}</td>
                    </ng-container>

                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                        <td mat-cell *matCellDef="let row" style="color: rgb(220, 174, 23);">
                            Pending</td>
                    </ng-container>

                    <ng-container matColumnDef="room">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Room </th>
                        <td mat-cell *matCellDef="let row" style="color: rgb(220, 174, 23);">Pending </td>
                    </ng-container>

                    <ng-container matColumnDef="edit">
                        <th mat-header-cell *matHeaderCellDef> Edit </th>
                        <td mat-cell *matCellDef="let row">
                            <a href="#" style="color: blue;">Edit</a>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="companyInterviewsColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: companyInterviewsColumns;"
                        (click)="selection.toggle(row)"></tr>
                </table>
                <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

            </div>
        </mat-tab>


        <mat-tab label="Tracks">
            <ng-template mat-tab-label>
                <div class="tab-label">
                    <span class="kk">Scheduled</span>
                </div>
            </ng-template>
            <div class="tab-content">
                <div class="table-header">
                    <!-- <button style="background-color: #2773FF; color: #F7F9FB;" mat-button
                        (click)="openCompanyModal('event')">Add
                        Add Track</button> -->
                </div>
                <table mat-table [dataSource]="companyScheduledData" matSort class="w-100">
                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()">
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                            </mat-checkbox>
                        </td>
                    </ng-container>


                    <ng-container matColumnDef="track">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Track </th>
                        <td mat-cell *matCellDef="let row"> {{row.departmentName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="interviewType">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Interview Type </th>
                        <td mat-cell *matCellDef="let row"> {{row.interviewType }} </td>
                    </ng-container>

                    <ng-container matColumnDef="interviewers">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Interviewers </th>
                        <td mat-cell *matCellDef="let row">{{ row.interviewers }}</td>
                    </ng-container>

                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                        <td mat-cell *matCellDef="let row"> {{row.appointmentDate}} </td>
                    </ng-container>


                    <ng-container matColumnDef="room">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Room </th>
                        <td mat-cell *matCellDef="let row"> {{ row.roomName }} </td>
                    </ng-container>

                    <ng-container matColumnDef="edit">
                        <th mat-header-cell *matHeaderCellDef> Edit </th>
                        <td mat-cell *matCellDef="let row">
                            <a href="#" style="color: blue;">Edit</a>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="companyInterviewsColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: companyInterviewsColumns;"
                        (click)="selection.toggle(row)"></tr>
                </table>
                <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

            </div>
        </mat-tab>
    </mat-tab-group>
</div>