<div class="w-75 m-auto row">
    <div class="col-8">
        <div>
            <p class="text-secondary">NEW</p>
            <p class="fs-2">Schedule New Track Interview</p>

            <div>
                <label for="Discipline">Choose Discipline</label>
                <select class="form-select">
                    <option value="">Software Devlopment</option>
                </select>

                <br><br>
                <label for="discpline">Choose track</label>
                <select class="form-select">
                    <option value="">Enterprise Web Application Development java</option>
                </select>

                <br>


                <button class="btn btn-danger me-2">Cancel</button>
                <button class="btn btn-primary">Next</button>
            </div>


        </div>
    </div>



    <div class="col-8"></div>

    <br>
    <hr>
</div>

