<mat-card [ngClass]="bgClass">
  <mat-card-header>
    <mat-card-subtitle>{{label}}</mat-card-subtitle>
    <mat-card-title>{{count}}</mat-card-title>
    <div mat-card-avatar
      style="padding: 30px; margin: 15px; display: flex; align-items: center; justify-content: center; background-color: rgba(126, 97, 207, 0.2); border-radius: 50%; width: 5px; height: 5px;">
      <mat-icon class="icon-lg" style="color: rgb(34, 21, 148);">{{icon}}</mat-icon>
    </div>

  </mat-card-header>
  <!-- <mat-card-actions>
    <button mat-button class="float-right">View Details</button>
  </mat-card-actions> -->
</mat-card>