<div class="login-page" style="display: flex; justify-content: center; align-items: center; height: 100vh;">
  <div class="content px20">
    <form class="login-form" #myForm="ngForm" (ngSubmit)="onLogin()">
      <div class="text-center">
        <h2 class="app-name">Login</h2>
      </div>
      <div style="display: flex; justify-content: center; margin-bottom: 20px;">
        <img src="../../../assets/images/iti.png" alt="ITI Career Hub Logo" class="logo-image" style="width: 200px;">
      </div>
      <div fxLayout="row">
        <div fxFlexFill fxLayoutAlign="center">
          <button type="submit" mat-raised-button color="primary" class="oauth-button">
            <img src="../../../assets/images/logo.png"
              style="margin: 10px;width: 25px; height: 25px; border-radius: 50%; background-color: white; padding: 2px;"
              alt="ITI Career Hub Logo" class="logo-image">
            Login With ITI Career Hub
          </button>
        </div>
      </div>
    </form>
  </div>
</div>