<div style="margin: 50px 100px;">

    <div style="display: flex;align-items: center;box-sizing: border-box;">
      <div>
        <img src="assets/images/logo.png"  width="39" height="60" alt="logo">
      </div>
      <div style="height: 50px;background-color: #8793A1;min-width: 2px;"></div>
      <div style="font-family: 'Open Sans';font-weight: 700;color: #C1272D;font-size: 18px;padding-top: 12px;padding-left: 5px;">Career<br>Hub</div>
    </div>
  </div>
  
  <div style="margin: 10px 50px">
    
    <div class="row">
      <div class="col-2">
        <div class="test">
          <div class="image"></div>
          <p class="name">Student Name</p>
          <p class="track">Track Name</p>
          <a href="#" class="edit">Edit Profile</a>
        </div>
  
        <div class="total mt-1">
          <div>Total Interviews</div>
          <div>3</div>
        </div>
  
      </div>
  
  
      <div class="col-7 ms-5">
        <p class="interview">Your Interviews</p>
  
        <div class="row">
          <div class="col tab">All</div>
          <div class="col tab active-tab">Upcoming</div>
          <div class="col tab">Done</div>
        </div>
  
        <div class="row">
          <div class="col-2">
            <p class="date">Tue 6 June</p>
          </div>
          <div class="col">
            <div class="interview-box m-2">
              
              <div>
                <img src="assets/images/userpng.png" class="user-image" width="44" height="44" alt="">
              </div>
              <div class="m-2">
                <p>_VOIS</p>
                <p class="text">Techincal Interview</p>
                <p class="text">First Floor - Room 1012</p>
              </div>
  
              <!-- <div>
                <div class="check">
                  <input type="checkbox" name="" id="">
                </div>
              </div> -->
            </div>
            <div class="interview-box m-2">
              <div>
                <img src="assets/images/userpng.png" class="user-image" width="44" height="44" alt="">
              </div>
              <div class="m-2">
                <p>_VOIS</p>
                <p class="text">Techincal Interview</p>
                <p class="text">First Floor - Room 1012</p>
              </div>
  
              <!-- <div>
                <div class="check">
                  <input type="checkbox" name="" id="">
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>