<div>
    <p class="fs-2">New Track</p>

    <div>
        <mat-form-field class="example-full-width">
            <mat-label>Track Name</mat-label>
            <input matInput placeholder="Track Name" [(ngModel)]="trackName">
        </mat-form-field>

        <br>
        <br>
        <br>

        <label for="Discipline">Choose Discipline</label>
        <select class="form-select" name="discplineName" (change)="handelTracks($event.target.value)"
            [(ngModel)]="formData.discplineName">
            <option value="{{item.key}}" *ngFor="let item of discipines">{{item.value}}</option>
        </select>

        <br><br>

        <label for="trackName">Choose Supervisor</label>
        <select class="form-select" name="trackName" (change)="handelStaff($event.target.value)"
            [(ngModel)]="formData.staff">
            <option value="{{item.id}}" *ngFor="let item of staff">{{ item.firstName }} {{ item.lastName }}</option>
        </select>

        <br>
    </div>
</div>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button color="primary" [mat-dialog-close]="true" (click)="saveEvent()">Save</button>
</mat-dialog-actions>