<div class="login-page">
    <div class="content px20">
        <form class="login-form" #myForm="ngForm" (ngSubmit)="registerNewStaff()">
            <div class="text-center">
                <h2 class="app-name">Register New Staff</h2>
            </div>
            <div fxLayout="row">
                <!-- "username": "string",
                "email": "string",
                "departmentId": 0 -->
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Username" name="username" [(ngModel)]="username">
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Email" name="email" [(ngModel)]="email">
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <mat-label>Department</mat-label>
                        <mat-select [(ngModel)]="selectedValue" name="departments">
                            <mat-option *ngFor="let department of departments" [value]="department">
                                {{department.departmentName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div fxLayout="row">
                <div fxFlexFill>
                    <button type="submit" mat-raised-button color="primary" class="w-100">Create New Staff</button>
                </div>
            </div>

        </form>
    </div>
</div>