.mat-column-progress {
  max-width: 40px;
}


.table-header {
    color: black;
    font-size: 24px;
    padding: 2%;
    /* Add any other desired styles */
  }
  
  .center-cell {
  text-align: center;
}

